/*++++++++++ Main Layout ++++++++++*/
/*
#background-img{
  position: fixed;
  left: 0px;
  width: 100%;
  height: 100%;
  bottom: auto;
  right: auto;
}
.background-container{
	margin-top: 50px;
	margin-bottom: 50px;
}
.background-row{
	background: #FFFFFF;
	position: relative;
	text-align: center;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 50px;
	padding-top: 50px;
}
.div-modal{
	text-align: center;
}*/
#top-menu{
  border-bottom: 1px solid #e3e3e3;
}
/*++++++++++ Menu ++++++++++*/
.div-logo{
  float: left;
  margin-right: 15px;
  width: 110px;
}
.logo{
  height: 65px;
  width: 110px;
}
.under-menu{
  margin-top: 60px;
}
.under-menu-admin{
  margin-top: 120px;
}
/*
.login-info{
  float: right;
  color: white;
  font-family: STKaiti;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.login-info a{  
  color: white;
  font-family: STKaiti;
  padding-left: 5px;
}
.login-info a:hover{
  color: rgba(54, 209, 80, 1);
  text-decoration: none;  
}
*/

/*++++++++++ Text ++++++++++*/
.nav{
	font-family: "YouYuan";
}
.navbar-header,h1,h2,h3,.h1,.h2,.h3{
	font-family: STKaiti;
}
#footer{
  text-align:center;
  position: relative;
  padding: 50px 20px;
  font-family: SimHei;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
}
th,td.actions{
	text-align: center;
}

/*
.div-hint{
  font-size: 20px;
  margin-bottom: 25px;
  margin-left: 125px;  
}
*/

/*++++++++++ Picture ++++++++++*/
/*
.picture{
  width: 100%;
  height: 100%;
}*/
/*++++++++++ Dl ++++++++++*/
/*
.dl-input{
  font-size: 25px;
}
.dl-input dt{
  float: left;
  text-align: left;
  width: 120px;
}
.dl-150 dt{
  width: 150px;
}
.dl-input dd{
  text-align: left;
}*/
.dl-view{
  font-size: 25px;
  margin: 20px 0;
}
.dl-view dt{
  float: left;
  text-align: left;
  width: 120px;
  margin-bottom: 20px;
}
.dl-200 dt{
  width: 200px;
}
.dl-250 dt{
  width: 250px;
}
.dl-view dd{
  text-align: left;
  margin-bottom: 20px;
}
.dl-view .richtext{
  border: 1px solid #e3e3e3;
  padding:5px;
}
/*++++++++++ Buttons ++++++++++*/

.div-button{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.button-right{
  margin-right: 10px;
}
/*
.div-left-button{
  margin-top: 30px;
  margin-bottom: 30px;
  float: left;
}
div.buttons{
  text-align: center;
}
/*++++++++++ Div ++++++++++*/

/*
.price{
  float: left;
  width: 150px;
}
/*++++++++++ Form ++++++++++*/

.form{
	text-align: left;
}
form div.input {
  font-size: 25px;
  margin-bottom: 25px;
}
form label {
  margin-right: 1em;
  float: left;
}
form label:after {
  color: white;
  content: '*';
  display: inline;
}
form .required label:after {
  color: #e32;
  content: '*';
  display: inline;
}
form div.checkbox-wrapper {
  width: 100%;
  height: 300px;
  display: inline-block; 
  overflow: scroll;
  border:1px solid;
}
form div.checkbox-inline {
  float: left;
  clear: none;
  display: inline-flex;
  margin-left: 10px;
}
.checkbox-table{
  width: 100%;
  height: 100%;
  font-size: 18px;
}
.label-100 label {
  width: 100px;
}
.label-150 label {
  width: 150px;
}
.label-200 label {
  width: 200px;
}
.input-name{
  width:150px;
  padding: 0;
}

.form h1,h2,h3{
  text-align: center;
  margin-bottom: 20px;
}
.input-100{
  width:100px;
  padding: 0;
}
select[multiple]{
  max-height: 200px;
}
/*
form div.has-hint {
  margin-bottom: 0;
}

.input-100{
  width:100px;
  padding: 0;
}

.input-normal{
  width:250px;
  padding: 0;
}
.input-textarea{
  width: 247px;
  font-size: 18px;
}
.handle-textarea{
  width: 450px;
}

