.slide,
.carousel-inner .item img{
	width: 1140px;
	height: 480px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: 30px;
}
.slider-selection {
    background: #BABABA !important;
}
body {
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(139,139,139,1) 35%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 85%, rgba(227,227,227,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(35%, rgba(139,139,139,1)), color-stop(45%, rgba(255,255,255,1)), color-stop(85%, rgba(255,255,255,1)), color-stop(100%, rgba(227,227,227,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(139,139,139,1) 35%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 85%, rgba(227,227,227,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(139,139,139,1) 35%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 85%, rgba(227,227,227,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(139,139,139,1) 35%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 85%, rgba(227,227,227,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(139,139,139,1) 35%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 85%, rgba(227,227,227,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e3e3e3', GradientType=0 );
}
.input{
	font-size: 18px !important;
}
.btn-custom{
	font-size: 18px !important;
}
.panel-title{
	font-size: 22px;
}