.slide,
.carousel-inner .item img{
	width: 816px;
	height: 530px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: 30px;
}
.slider-selection {
    background: #BABABA !important;
}
dl{
	font-size: 15px;
}
dt{
  float: left;
  text-align: left;
  width: 120px;
  margin-bottom: 10px;
}
dd{
  text-align: left;
  margin-bottom: 10px;
}
.div-view{
	margin-bottom: 20px;
	padding: 20px;
}
div.input{
	font-size: 20px !important;
}